

.unit,
.building {
    display:block;
    position:absolute;
    width:64px;
    height:64px; 
    z-index:1000;
}


.projectile {
    display:block;
    position:absolute;
    z-index:10000;
    background-repeat:no-repeat;
}

.graphic{
    position:absolute;
    display:block;
    width:64px;
    height:64px; 
    background-repeat:no-repeat;
    z-index:1000;
}

.selectZone {
    position:absolute;
    display:block;
    top:14px;
    left:8px;
    width:48px;
    height:38px; 
    z-index: 200000;
}

.lifeJauge {
    position:absolute;
    display:block;
    width:inherit;
    height:5px; 
    background-color:#0F0;
    opacity:0.2;
/*    z-index: 100000;*/
}

.selected .selectZone{
    border:1px solid #000;
}

.selected .lifeJauge {
    opacity:0.9;
}

.unit .graphic .shadow{
    position:absolute;
    display:block;
    width:64px;
    height:64px; 
    background-repeat:no-repeat;
    z-index: 5000;
}

.unit .graphic .turret{
    position:absolute;
    display:block;
    width:64px;
    height:64px; 
    background-repeat:no-repeat;
    z-index: 5000;
}

.unit .graphic .rotor{
    position:absolute;
    display:block;
    width:64px;
    height:64px; 
    background-repeat:no-repeat;
    z-index: 5000;
}

.unit.mcv .graphic{ 
    background-image: url('../img/mcv.png');
}

.unit.tank .graphic{ 
    background-image: url('../img/tankBody.png');
}
.unit.tank .graphic .turret{
    background-image: url('../img/tankTurret.png');
}

.unit.heavyTank .graphic{ 
    background-image: url('../img/heavyTankBody.png');
}
.unit.heavyTank .graphic .turret{ 
    background-image: url('../img/heavyTankTurret.png');
}

.unit.artilleryTank .graphic{ 
    background-image: url('../img/artilleryTank.png');
}

.unit.komX .graphic{ 
    background-image: url('../img/komX.png');
}
.unit.komX .graphic .rotor{ 
    background-image: url('../img/komXRotor.png');
}
.unit.komX .graphic .shadow{ 
    background-image: url('../img/komXShadow.png');
}


.projectile.shell{
    background-image: url('../img/shell.png');
    width:5px;
    height:5px; 
}
.projectile.rocket{
    background-image: url('../img/rocket.png');
    width:4px;
    height:4px; 
}
.projectile.bullet{
    background-image: url('../img/bullet.png');
    width:2px;
    height:2px; 
}

.default {background-position: 0 -512px}
.top {background-position: 0 -128px}
.right {background-position: 0 0;}
.bottom {background-position: 0 -384px;}
.left {background-position: 0 -256px;}
.topLeft,
.topleft {background-position: 0 -192px;}
.topRight,
.topright {background-position: 0 -64px;}
.bottomRight,
.bottomright {background-position: 0 -448px;}
.bottomLeft,
.bottomleft {background-position: 0 -320px;}

.default .subItem {background-position: 0 -512px}
.top .subItem {background-position: 0 -128px}
.right .subItem {background-position: 0 0;}
.bottom .subItem {background-position: 0 -384px;}
.left .subItem {background-position: 0 -256px;}
.topLeft .subItem,
.topleft .subItem {background-position: 0 -192px;}
.topRight .subItem,
.topright .subItem {background-position: 0 -64px;}
.bottomRight .subItem,
.bottomright .subItem {background-position: 0 -448px;}
.bottomLeft .subItem,
.bottomleft .subItem {background-position: 0 -320px;}



.building{
    width:128px;
    height:128px;
}

.building .selectZone {
    position:absolute;
    display:block;
    top:0px;
    left:4px;
    width:110px;
    height:90px; 
    z-index: 150000;
}

.building .default {background-position: 0 -1024px}
.building .top {background-position: 0 -256px}
.building .right {background-position: 0 0;}
.building .bottom {background-position: 0 -768px;}
.building .left {background-position: 0 -512px;}
.building .topLeft,
.building .topleft {background-position: 0 -384px;}
.building .topRight,
.building .topright {background-position:  -512px;}
.building .bottomRight,
.building .bottomright {background-position: 0 -896px;}
.building .bottomLeft,
.building .bottomleft {background-position: 0 -640px;}


.building.smallPower .graphic{
    width:128px;
    height:128px;
    background-image: url('../img/smallPower.png');
}

.building.factory .graphic{
    width:128px;
    height:128px;
    background-image: url('../img/factory.png');
}

.building.constructionSite .graphic{
    width:128px;
    height:128px;
    background-image: url('../img/constructionSite.png');
}